.userFrontpage {
    border: #007afd 2px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.userFrontpage .lander {
    text-align: center;
    width: 100%;
    border: #007afd 2px solid;
    margin: 4px 4px 4px 4px;
}

.userFrontpage .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.sideBar {
    width: 200px;
    margin: 4px;
}
