.userFrontpage {
    border: #007afd 2px solid;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.userFrontpage .frontPageContainer {
    text-align: center;
    flex-flow: column;
}

.userFrontpage .checkboxContainer {
    margin-left: 8px;
}

.userFrontpage .projectContainer {
    flex-grow: 1;
    margin-bottom: 4px;
}

.userFrontpage .projectFooter {
    bottom: 4px;
    display: flex;
    flex-direction: row-reverse;
}

.userFrontpage .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
