.projectFiles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.tabHeader {
    text-align: center;
}

.tabContent {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.projectFilesSubFolderContainer {
    margin-right: 8px;
    text-align: center;
    width: 30%;
}

.projectFileContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 4px;
    border-left: black solid 1px;
}

.imageRenderModeButton {
    width: 30px;
}

.imageRenderModeButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.imageRenderModeButtonDisabled {
    width: 30px;
    opacity: 0.4;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projectFilesContainerFooter {
    bottom: 4px;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.pageCounter {
    text-align: center;
    border-radius: 5px;
    height: 30px;
    font-size: 1.2em;
    margin-top: 5px;
}

.downloadButton {
    margin: 4px;
    width: 14vw;
}

.loadPageButton {
    margin: 4px;
    position: sticky;
    bottom: 4px;
    width: 50%;
}

.formInputAndButton {
    display: flex;
}

.addMemberButton {
    min-width: 9em;
}

.editButton {
    width: 100%;
}

.information {
    color: gray;
}