.imagesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projectImagesSubFolderContainer {
    margin-right: 8px;
    text-align: center;
    width: 20%;
}

.projectImagesContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 4px;
    border-left: black solid 1px;
}

.pageCounter {
    text-align: center;
    margin-top: 6px;
}
