.projectDetails {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto 0 auto;

}

.isPrivateContainer {
    margin: 10px 0 10px 0;
}

.tagsAndPrivateAndCreatedContainer {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.tagsContainer {
    border-width: 1px !important;
    border-radius: 4px;
    padding: 4px;
    width: 300px;
}

.creationDate {
    color: gray;
}

.descriptionField {
    width: 25vw;
}

.descriptionLabel {
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.editButton {
    width: 100%;
}

.searchInputContainer {
    display: flex;
    flex-direction: row;
}

.searchForTags {
    flex: 2;
    border-radius: 6px;
    border: 1px solid black;
    height: 2em;
}

.createNewTagButton {
    width: 100%;
}

.tagsTable {
    margin-top: 8px;
}

.tagNameDisplayRow {
    height: 2em;
}

.tagNameDisplay {
    padding: 0.4em !important;
}
