.projectDisplay {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 8px;
}

.projectDisplayIcon {
    height: 30px;
    margin: 4px 2px 4px 4px;
}

.projectDisplayName {
    flex-grow: 1;
    min-width: 20em;
    max-width: 20em;
    text-align: start;
    margin: 0 2px 0 6px;
}

.projectResultInfo {
    flex-grow: 1;
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
    color: #565656;
}

.projectDisplayOwner {
    margin: 0 4px 0 2px;
    color: #565656;
}
