@media all and (min-width: 480px) {
    .CreateUser {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 auto 0 auto;
    }

    .CreateUser form {
        margin: 0 auto;
        max-width: 320px;
    }

    .errorMessage {
        color: red;
    }
}