@media all and (min-width: 480px) {
    .createUser {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 auto 0 auto;
        min-width: 100%;

    }

    .formContainer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 auto 0 auto;
        min-width: 75%;
    }

    .createUser form {
        margin: 0 auto;
        /*max-width: 320px;*/
    }

    .errorMessage {
        color: red;
    }

    .first-lastname-box {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .firstName {
        width: 50%;
        margin-right: 2%;
    }
    .lastName {
        width: 50%;
        margin-left: 2%;
    }

    .password1 {
        width: 50%;
        margin-right: 2%;
    }

    .password2 {
        width: 50%;
        margin-left: 2%;
    }

    .password-box {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
}
