.serverRestart {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto 0 auto;
    min-width: 100%;

}

.formContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto 0 auto;
    min-width: 50%;
}

.time-picker-element {
    /*margin: 5px 5px 5px 5px;*/
    background-color: white;
}

.put-on-rows {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}
